body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}
/* Home */
.home {
  height: 100vh;
  width: 100vw;
}
.imgHome {
  background-image: url(../img/imgHome2.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.navBar {
  display: flex;
  justify-content: space-around;
  align-content: center;
  color: white;
  width: 100vw;
  height: 10vh;
  opacity: 0.8;
}
.navBar div {
  margin-top: 5vh;
}
.navBar div:nth-child(1n):not(:nth-child(3)):hover {
  font-weight: bold;
}
.logo {
  aspect-ratio: 1;
  width: 6vw;
  margin-top: -2vh;
  animation: spin infinite 10s linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* menu burger */

.burger {
  height: 30px;
  width: 30px;
  margin-top: -2px;
  display: none;
}
/* Page 2 */
.imgPage2 {
  background-image: url(../img/pexels-francesco-ungaro-2325446.jpg);
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(10, 10vh);
}
.montgolfiere1 {
  grid-column: 1;
  grid-row: 1;
  height: 30vh;
  aspect-ratio: 1;
}
.montgolfiere2 {
  grid-column: 1;
  grid-row: 6;
  height: 40vh;
  aspect-ratio: 1;
}
.montgolfiere3 {
  grid-column: 3;
  grid-row: 4;
  height: 30vh;
  aspect-ratio: 1;
}
.montgolfiere4 {
  grid-column: 2;
  grid-row: 6;
  height: 30vh;
  aspect-ratio: 1;
}
.montgolfiere5 {
  grid-column: 5;
  grid-row: 2;
  height: 40vh;
  aspect-ratio: 1;
}
.montgolfiere6 {
  grid-column: 6;
  grid-row: 2;
  height: 30vh;
  aspect-ratio: 1;
}
.montgolfiere7 {
  grid-column: 2;
  grid-row: 2;
  height: 30vh;
  aspect-ratio: 1;
}
.montgolfiere8 {
  grid-column: 5;
  grid-row: 7;
  height: 30vh;
  aspect-ratio: 1;
}

.imgPage2 div {
  animation: float 5s linear infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
/* Page 3 */
.imgPage3 {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/page3img.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scene {
  width: 300px;
  height: 140px;
  position: relative;
  perspective: 1000px;
}
.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}
.carousel-item {
  position: absolute;
  width: 190px;
  height: 120px;
  left: 10px;
  top: 10px;
  border-radius: 5px;
}
.carousel-item:nth-child(1) {
  background-image: url(..//img/img1.jpg);
  background-position: center;
  background-size: cover;
  transform: rotateY(0deg) translateZ(259.8076px);
}
.carousel-item:nth-child(2) {
  background-image: url(..//img/img2.jpg);
  background-position: center;
  background-size: cover;
  transform: rotateY(72deg) translateZ(259.8076px);
}
.carousel-item:nth-child(3) {
  background-image: url(..//img/img3.jpg);
  background-position: center;
  background-size: cover;
  transform: rotateY(144deg) translateZ(259.8076px);
}
.carousel-item:nth-child(4) {
  background-image: url(..//img/img4.jpg);
  background-position: center;
  background-size: cover;
  transform: rotateY(216deg) translateZ(259.8076px);
}
.carousel-item:nth-child(5) {
  background-image: url(..//img/img5.jpg);
  background-position: center;
  background-size: cover;
  transform: rotateY(288deg) translateZ(259.8076px);
}
/* Page 4 */

.Page4 {
  width: 100vw;
  height: 100vh;
  background-image: url(../vidéos/backgroundPage4.mp4);
  background-position: center;
  background-size: cover;
  display: flex;
}

/* Format Téléphone */
@media screen and (max-width: 767px) {
}

/* Format Tablette */
@media screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Format Ordinateur */
@media screen and (min-width: 1024px) {
  .burger {
    display: none;
  }
}
